<h1>Create a new post</h1>
<form action="/posts" method="posts">
  <p>Post Name: <input type="text" name="name"></p>
  <p>Content: <input type="text" name="content"></p>
  <input id="submit" type="submit">
</form>
